<body>
    <div class="container">
    <div class="fields">
        <mat-label>Old password:</mat-label>
        <mat-form-field appearance="fill">
          <input matInput type="password" [(ngModel)]="oldPassword">
        </mat-form-field><br>
        <mat-label>New password:</mat-label>
        <mat-form-field appearance="fill">
          <input matInput type="password" [(ngModel)]="newPassword">
        </mat-form-field><br>
        <mat-label>Confirm password:</mat-label>
        <mat-form-field appearance="fill">
          <input matInput type="password" [(ngModel)]="newPasswordConfirm">
        </mat-form-field><br>
      </div>
      <button class="btn" mat-stroked-button (click)="changePassword()">
        Submit
      </button>
    </div>
</body>
