<mat-toolbar color="primary">
  <button class="button" mat-button (click)="DonorHomeClick()">Home</button>
  <button class="button" mat-button (click)="ApptsClick()">Appointments</button>
  <button class="button" mat-button (click)="FormClick()">Donor Form</button>
  <button class="button" mat-button (click)="HistoryClick()">Donation History</button>
  <div class="spacer"></div>
  <button class="button" mat-button (click)="ProfileClick()">Profile</button>
  <button class="button" mat-button (click)="LogOutClick()">Log Out</button>
</mat-toolbar>
