/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url(/assets/images/blood.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

mat-card-actions .btn {
    padding: 10px 20px;
    border-radius: 10px;
}

mat-card-actions .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(29, 20, 20, 0.714);
}
  
mat-card-actions .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  
h3 {
  font-size: 26px;
  color: rgb(226, 207, 207);
  font-weight:200;
  font-stretch:ultra-condensed;
}

mat-form-field {
  color: white;
}
    
mat-label{
  color: white;
}
