/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url(/assets/images/blood.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.btn {
    padding: 10px 20px;
    border-radius: 15px;
    transition: all .2s;
    border: none;
    border-color: rgb(0, 0, 0);
    background-color: rgba(36, 36, 36, 0.681);
    color: white;
}
  
.btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
  
.btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
  
h3 {
  font-size: 26px;
  color: rgb(226, 207, 207);
  font-weight:200;
  font-stretch:ultra-condensed;
}

mat-form-field {
  color: white;
}
    
mat-label{
  color: white;
}
