.centers{
}

.center-search{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.centers-table {
    margin-top: 2%;
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    white-space: nowrap;
    background-color: rgba(205, 126, 126, 0.208);
    color:white;
  }
  
  .centers-table td, .centers-table th {
      text-align: center;
      padding: 8px;
      font-size: 12px;
  }
  
  .centers-table thead th:nth-child(odd) {
      color: #ffffff;
      background-color: rgba(211, 84, 84, 0);
  }
  
  .centers-table tr:nth-child(even) {
    background-color: rgba(198, 87, 87, 0);
}

  .input-search{
    height: 15px;
    width: 200px;
    border-style: none;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #dcdcdc;
    padding-right: 40px;
    color:#4a4a4a;
  }

  .select-filter{
    height: 20px;
    margin: 5px;
    border-style: none;
    font-size: 15px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #dcdcdc;
    color:#4a4a4a;
  }
 
  .input-search::placeholder{
    color:#979797;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
  }

  label{
    font-size: 15px; 
    color:whitesmoke;
  }

  h3 {
    text-align: center;
  }
  
