.centers{
    width: 80%;
    margin-top: 30px;
}

.center-search{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.centers-table {
    margin-top: 2%;
    white-space: nowrap;
    color:white;
  }
  
.centers-table td {
      text-align: center;
      padding: 8px;
      font-size: 12px;
}

.mat-sort-header-container {
  justify-content: center !important;
  text-align: center !important;
}

.centers-table th{
  background-color: rgba(0, 0, 0, 0.31);
}
  
.centers-table tr:nth-child(odd) {
   background-color: rgba(105, 8, 3, 0.653);
}
  
.centers-table tr:nth-child(even) {
    background-color: rgba(188, 27, 27, 0.352);
}

  .input-search{
    height: 15px;
    width: 200px;
    border-style: none;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #dcdcdc;
    padding-right: 40px;
    color:#4a4a4a;
  }

  .select-filter{
    height: 20px;
    margin: 5px;
    border-style: none;
    font-size: 15px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #dcdcdc;
    color:#4a4a4a;
  }
 
  .input-search::placeholder{
    color:#979797;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
  }

  label{
    font-size: 15px; 
    color:whitesmoke;
  }

  h3 {
    text-align: center;
  }
  
