<div class="centers">
<div class="center-search">
  <div>
    <label>Minimum score:</label>  
    <select [(ngModel)]="filterScore" class="select-filter" (change)="filterByScore($event)">
        <option value="1" (change)="filterByScore($event)">1</option>
        <option value="2" (change)="filterByScore($event)">2</option>
        <option value="3" (change)="filterByScore($event)">3</option>
        <option value="4" (change)="filterByScore($event)">4</option>
    </select>
  </div>
  <div>
    <label> City: </label>  
    <select [(ngModel)]="filterCity" class="select-filter" (change)="filterByCity($event)">
      <option *ngFor="let city of cities">{{city}}</option>
    </select>
  </div>
  <div>
    <label> Open: </label>  
    <select [(ngModel)]="filterScore" class="select-filter" (change)="filterOpen($event)">
      <option value="open" (change)="filterOpen($event)">open</option>
      <option value="closed" (change)="filterOpen($event)">closed</option>
  </select>
  </div> 
  <input type="text" class="input-search" placeholder="Search" [(ngModel)]="searchText" (keyup.enter)="applySearch()">
</div>
<table mat-table [dataSource]="dataSource"  matSort #empTbSort="matSort" class="centers-table" style="color:white">
    <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center" > Name </th>
        <td mat-cell *matCellDef="let center" class="clickable cell-center" >{{center.name}}</td>
    </ng-container>
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Address </th>
        <td mat-cell *matCellDef="let center" class="cell-center">{{center.stringAddress}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Description </th>
      <td mat-cell *matCellDef="let center" class="cell-center">{{center.description}}</td>
   </ng-container>
   <ng-container matColumnDef="avgScore">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Average score </th>
    <td mat-cell *matCellDef="let center" class="cell-center">{{center.avgScore}}</td>
  </ng-container>
  <ng-container matColumnDef="openHours">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="cell-center"> Open hours </th>
        <td mat-cell *matCellDef="let center" class="cell-center">{{center.openHours}}</td>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
