.login-container {
  height: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top:6%;
  background-color: rgba(85, 0, 0, 0.703);
  width: 100%;
  padding: 20px;
  border:1px white solid;
  border-radius: 10px;
}

.login-fields {
  padding: 5px 5px 0px 5px;
  margin-top: 10px;
  border: solid 1px white;
  border-radius: 15px;
  width: 100%;
}

.login-fields input {
  height: 45px;
  color: rgb(226, 207, 207);
}


