body{
  overflow: hidden;
  background-image: url(/assets/images/blood.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h3 {
  
  text-align: center;
  margin-left: -1%;
  margin-top:6%;
  font-size: 40px;
  color: rgb(226, 207, 207);
  font-weight:200;
  font-stretch:ultra-condensed;
}
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top:3%;
  background-color: rgba(85, 0, 0, 0.703);
  width: 20%;
  padding: 20px;
  border:1px white solid;
  border-radius: 10px;
  
}

mat-form-field {
  width: 100%;
  margin: auto;
  color: white;
}

mat-label{
  color: white;
  margin-left:40%;
}

.fields {
  margin-top: 5px;
  padding: 20px;
}


.bttn{
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 15px;
    transition: all .2s;
    border: none;
    border-color: rgb(0, 0, 0);
    background-color: rgba(36, 36, 36, 0.681);
    color: white; 
    
}

.bttn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn {
  margin-left: 40%;
  color:#670200;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 15px;
  transition: all .2s;
  position: relative;
  border: none;
  background-color: white;
}
      .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

      .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }

      .btn-white {
      background-color: #fff;
      color: #777;
      font-size: 14px;
      }