.mat-toolbar {
  background-image: linear-gradient(rgb(102, 13, 13),rgb(15, 2, 2));
    border-bottom: outset rgb(0, 0, 0);
    color: rgb(168, 167, 167);
    min-height: 60px;
    position: fixed;
  }

  .spacer {
    flex: 1 1 auto;
  }
  
  .button {
    font:  bold 18px verdana;
    background:  rgba(45, 5, 5, 0);
  }
  