
<mat-toolbar color="primary">
    <button class="button" mat-button (click)="AdminHomeClick()">Home</button>
    <button class="button" mat-button (click)="UsersClick()">Users</button>
    <button class="button" mat-button (click)="AddCenterClick()">Register center</button>
    <button class="button" mat-button (click)="AddStaffClick()">Register staff</button>
    <button class="button" mat-button (click)="AddAdminClick()">Register admin</button>
    <div class="spacer"></div>
    <button class="button" mat-button (click)="Profile()">Profile</button>
    <button class="button" mat-button (click)="LogOutClick()">Log Out</button>
  </mat-toolbar>
  