@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  overflow: hidden;
  background-image: url(/assets/images/blood.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.login_container {
  margin: 5% auto;
  border-radius: 15px;
  width: 30%;
  height: 50%;
  background-color: rgb(31,82,109);
  background-image: linear-gradient(to right, #670200, #310100);
  border: 3px solid;
  border-color: rgb(57, 1, 1);
  color: rgb(214, 188, 188);
  line-height: 4em;
}

.credential_labels {
  padding-top: 1px;
  color: white;
  font-size: 13px;
}


.credential_inputs {
  font-size: 20px;
  height: 30px;
  width: 250px;
  margin-top: -25px;
  color: #ccc;
  text-align: center;
}

  .credential_inputs::placeholder {
    color: rgb(138, 137, 137);
  }



.btn {
  color: #670200;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border: none;
}

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

.box {
  width: 350px;
  height: 250px;
  background: #2C394B;
  color: white;
  border-radius: 10px;
  position: absolute;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .4s;
}

.btn:checked ~ .box {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

.box p {
  font-size: 1.5em;
}

.box label {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
  margin-top: 1em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 6px #556b88;
  transition: all .4s;
}

label:hover {
  box-shadow: 0px 0px 30px #788daa83;
}

.row {
  width: 100%;
  text-align: center;
}

.block {
  width: 120px;
  display: inline-block;
}

h3 {
  
  text-align: center;
  margin-left: -1%;
  margin-top:6%;
  font-size: 40px;
  color: rgb(226, 207, 207);
  font-weight:200;
  font-stretch:ultra-condensed;
}


.flexbox_col {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: baseline;
}

.flexbox_row {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.title {
  font-size: 30px;
  text-align: center;
  color:white;
  margin-right: 320px;
}

.mat-card-title {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mat-card-content {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  margin: 40px 20px 20px 20px;
}

.mat-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 40px;
  background-color: rgba(163, 23, 23, 0.467);
  color:white;
  border: #DCD6CC 1px solid;
}
