
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body{
  overflow: auto;
  background-image: url(/assets/images/blood.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h3 {
  
  text-align: center;
  margin-left: -1%;
  margin-top:6%;
  font-size: 40px;
  color: rgb(226, 207, 207);
  font-weight:200;
  font-stretch:ultra-condensed;
}

.flexbox {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.form_container {
  margin:0px auto;
  margin-top: 4%;
  left:0;
  right:0;
  border-radius: 15px;
  width: 30%;
  height: 50%;
  background-image: linear-gradient(to right, #670200, #310100);
  border: 3px solid;
  border-color: rgb(57, 1, 1);
  color: rgb(214, 188, 188);
  line-height: 3.3em;
}


.btn {
  color:#670200;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  border: none;
}

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

.btn-white {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

.box {
  width: 350px;
  height: 250px;
  background: #2C394B;
  color: white;
  border-radius: 10px;
  position: absolute;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .4s;
}

.btn:checked ~ .box {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}


