.container {
  display: flex;
  margin-left: 5%;
  margin-right: 20%;
  margin-top: 5%;
  width:100%;
}
.container2 {
  display: flex;
  padding-left: 5%;
  flex-flow: column;
  width:60%;
}
.container3 {
  display: flex;
  flex-flow: column;
  width:80%;
  padding-left: 5%;
  margin-top:4%;
}

.personal-info{
    margin-left: 5%;
    margin-right:auto;
    width:90%;
}

th {
  text-align: center;
  font-size: 18px;
  color:white;
}

.cell-center {
  text-align: center;
  font-size: 16px;
  color: white;
}

.table-title {
  padding-bottom: 20px;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 30px;
  text-align: center;
  color:white;
}

table {
  width: 100%;
  background-color: rgba(163, 23, 23, 0.467);
  color:white;
}
.mat-card-title {
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mat-card-content {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  margin: 40px 20px 20px 20px;
}

mat-list {
  margin-top: 3%;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 30%;
  height: 40%;
  white-space: nowrap;
  background-color: white;
  line-height: 1em;
  
  box-shadow: 10px 10px 8px #b7b7b755;
    border-radius: 10px;


    background-color: rgba(163, 23, 23, 0.756);
  border: #DCD6CC 1px solid;
  

}

mat-list-item{
  border-bottom: 1px solid rgb(173, 189, 198);
  text-align: center;
  color:white;
}

h3{
  font-size: 30px;
  text-align: center;
  color:white;
  margin-right: 320px;
}