<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="ol.css">

<body>

    <staff-toolbar></staff-toolbar>

    <div style="margin-top:4%">
  <button (click)="sendMsg()" class="btn" style="margin-top:3%">Start</button>

  <div class="row">
    <div id="hotel_map">
      
    </div>
  </div>

  <div id="marker" title="Marker"></div>
      <!-- Popup -->
      <div id="popup"></div>
  
  <br>
  <div class="msg">
  <div>
    <h1>Sent Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of sent">Content {{item.content}}</li>
    </ul>
  </div>
  
  <br>
  <div>
    <h1>Received Messages</h1>
    <br>
    <ul>
      <li *ngFor="let item of received">Content {{item}}</li>
    </ul>
  </div>

</div>
</div>

</body>