
<mat-toolbar color="primary">
    <button class="button" mat-button (click)="StaffHomeClick()">Home</button>
    <button class="button" mat-button (click)="Scheduled()">My Appointments</button>
    <button class="button" mat-button (click)="CalendarClick()">Calendar</button>
    <button class="button" mat-button (click)="BloodClick()">Blood transport</button>
    <button class="button" mat-button (click)="CenterProfileClick()">Center</button>
    <div class="spacer"></div>
    <button class="button" mat-button (click)="ProfileClick()">Profile</button>
    <button class="button" mat-button (click)="LogOutClick()">Log Out</button>
  </mat-toolbar>
